<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Works By {{name | nullString}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/favorites']">Favorites</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="!results" 
               color="primary"
               style="margin-left: 47vw; margin-top: 50px;">
  </ion-spinner>
  <ion-list *ngIf="results">
    <ion-item *ngFor="let book of results.entries; index as i">
      <ion-label style="color: darkblue; font-size: 15px;" 
                 (click)="bookClicked(book)">
                <!-- [routerLink]="['/work-detail']" [queryParams]="{ key: book.key }" -->
        {{book.title}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
