.img {
    width: 60vw;
    margin-right: 5vw;
}

.stack {
    display: flex;
    flex-direction: column;
}

.hori {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header {
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin: 5px 0px 5px 5px;
}

.detail {
    margin: 5px 0px 10px 10px;
    user-select: auto;
}