<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Author</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/favorites']">Favorites</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="author" class="hori">
    <ion-img *ngIf="author.getImgUrl() !== ''" class="img" [src]="author.getImgUrl()"></ion-img>
    <div class="stack">
      <ion-button  [disabled]="isSaved" (click)="saveAuthor()">
        Save
      </ion-button>
      <ion-button [disabled]="!isSaved" (click)="deleteAuthor()" color="danger">
        Delete
      </ion-button>
      <ion-button color="success" 
                  style="align-self: flex-end;"
                  [routerLink]="['/by-author']"
                  [queryParams]="{ key: author.key, name: author.name }">
                  Find Works By
      </ion-button>
    </div>
  </div>
  <div *ngIf="author" class="stack">
    <ion-label class="header">Name</ion-label>
    <ion-label class="detail">{{author.name}}</ion-label>
    <ion-label class="header">Date of Birth</ion-label>
    <ion-label class="detail">{{author.birth_date | nullString}}</ion-label>
    <ion-label *ngIf="author.death_date" class="header">Date of Death</ion-label>
    <ion-label *ngIf="author.death_date" class="detail">{{author.death_date}}</ion-label>
    <!-- <ion-button color="medium" (click)="viewEditionsClicked()" [routerLink]="['/edition-list']">View All Editions
    </ion-button> -->
    <ion-label class="header">Biography</ion-label>
    <ion-label class="detail">{{author.biography | nullString}}</ion-label>
  </div>
</ion-content>
