
.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.horizontal {
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
}


//Search styles
.ios .search-card {
  width: 95vw; 
  margin: 5px 5px 5px 8px;
  background-color: #fffbf9;
}

.search-card {
  width: 95vw; 
  margin: 5px 5px 5px 10px;
  background-color: #fffbf9;
}

#input-form {
  margin: 5px 10px 10px 10px;
  --background: #fffbf9;
}

#input {
  --background: #fffbf9;
  --padding-top: 0px;
  --padding-bottom: 0px;
}

#input-label {
  margin-bottom: 20px;
  z-index: 1;
}

#setting {
  margin: 0px 30vw 5px 30vw;
  font-size: 12px;
  height: 25px;
}

#setting-frame {
  border-style: solid;
  border-color: #705050;
  border-width: 2px;
  border-radius: 10px;
  margin-left: 7vw;
  margin-right: 7vw;
}

.setting-label {
  font-size: 15px;
  margin-right: 10px;
}


//Result styles
.ios .result-card {
  width: 95vw; 
  margin: 170px 5px 5px 8px;
  --background: #fffbf9;
}

.result-card {
  width: 95vw; 
  margin: 150px 5px 5px 10px;
  --background: #fffbf9;
}


//List styles
.ios .list {
  margin-top: 265px;
}

.list {
  margin-top: 240px;
}



.wrap {
  overflow-wrap: break-word;
  inline-size: 80vw;
}

.header {
  font-weight: bold;
  font-size: 18px;
}

.title {
  font-weight: bold;
  color: darkblue;
}

.name {
  color: darkmagenta;
}